<h1 class="bg-success text-center font-italic">User-Official-Complaints</h1>

<div class="row">
    <div class="card mb-3" style="width: 18rem;" *ngFor="let i of data">
        
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{i.question}}</li>
          <li class="list-group-item">{{i.user}}</li>
          <li class="list-group-item">{{i.reply}}</li>
          <div class="card-body">

            <button id="{{i.id}}" (click)="deleteProo($event)" class="btn btn-danger">Delete</button>
            <button id="{{i.id}}" (click)="editPage($event)" class="btn btn-warning">Edit</button>
          </div>
        </ul>
      </div>
</div>
