<h1 class="text-center bg-secondary font-italic">Officer Login</h1>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form action="" [formGroup]="adminForm" (ngSubmit)="submitted()">
            <label for="">Username</label>
            <input type="text" name="user" formControlName="username" id="us" placeholder="Enter Your Username" class="form-control">
            <label for="">Password</label>
            <input type="password" name="user" formControlName="password" id="us" placeholder="Enter Your Password" class="form-control">
            <div class="text-center mt-3">
                <button class="btn btn-success">Login</button><br>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
<div class="text-center mt-3">
</div>


