<h1 class="bg-success text-center font-italic">Official-User-Complaints</h1>

<a routerLink="/portal" class="btn btn-primary">Complaints</a>

<div class="row">
    <div class="card mb-3" style="width: 18rem;" *ngFor="let i of data">
      <img class="card-img-top" src="{{i.image}}" height="200px" name="Card image cap">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{i.user}}</li>
            <li class="list-group-item">{{i.complaint}}</li>
            <li class="list-group-item">{{i.date}}</li>
            <li class="list-group-item">{{i.question_answers | json}}</li>
            <a routerLink="/addu/{{i.id}}" class="btn btn-primary">Add</a>
            
        </ul>
        
        
      </div>
</div>
