<p>Official Home Set</p>

<h1 class="bg-success text-center font-italic">Official-Complaints</h1>

<a routerLink="/complainto" class="btn btn-primary">Complaints</a>



<div class="row">
    <div class="card mb-3" style="width: 18rem;" *ngFor="let i of data">

        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{i.question}}</li>
          <li class="list-group-item">{{i.reply}}</li>
          <li class="list-group-item">{{i.user}}</li>  
        </ul>
        
      </div>
</div>
